 <link rel="stylesheet" href="stylesheets/landing.css">

 <div class="links-container">
<div class="landing">
    <div class="big-links">
        <a href="https://xandergoodwin.itch.io/rope-tool"><div class="landing-link" id="link-itch">Play the demo on Itch.io</div></a>
        <a href="https://store.steampowered.com/app/2958730/Project_Rope_Tool/"><div class="landing-link" id="link-steam">Wishlist on Steam</div></a>
        <a href="https://www.gofundme.com/f/rope-tool-funding"><div class="landing-link" id="link-gofundme">Help fund Project Rope Tool</div></a>
        <a href="/leaderboard"><div class="landing-link" id="link-leaderboard">View leaderboards</div></a>
    </div>
    <div class="social-media-links">
        <a href="https://discord.gg/3jjJ2bCBGc"><div class="landing-link" id="link-discord">Discord</div></a>
        <a href="https://twitter.com/RopeTool"><div class="landing-link" id="link-twitter">Twitter</div></a>
        <a href="https://www.youtube.com/@ropetooldev"><div class="landing-link" id="link-youtube">Youtube</div></a>
        <a href="https://www.tiktok.com/@ropetooldev"><div class="landing-link" id="link-tiktok">TikTok</div></a>
    </div>
</div>
 </div>
