 <link rel="stylesheet" href="stylesheets/landing.css">

 <div class="links-container">
<div class="landing">
    <div class="big-links">
        <div class="landing-link" id="link-itch"><a href="https://xandergoodwin.itch.io/rope-tool">Play the demo on Itch.io</a></div>
        <div class="landing-link" id="link-steam"><a href="https://store.steampowered.com/app/2958730/Project_Rope_Tool/">Wishlist on Steam</a></div>
        <div class="landing-link" id="link-gofundme"><a href="https://www.gofundme.com/f/rope-tool-funding">Help fund Project Rope Tool</a></div>
        <div class="landing-link" id="link-leaderboard"><a href="/leaderboard">View leaderboards</a></div>
    </div>
    <div class="social-media-links">
        <div class="landing-link" id="link-discord"><a href="https://discord.gg/3jjJ2bCBGc">Discord</a></div>
        <div class="landing-link" id="link-twitter"><a href="https://twitter.com/RopeTool">Twitter</a></div>
        <div class="landing-link" id="link-youtube"><a href="https://www.youtube.com/@ropetooldev">Youtube</a></div>
        <div class="landing-link" id="link-tiktok"><a href="https://www.tiktok.com/@ropetooldev">TikTok</a></div>
    </div>
</div>
 </div>
