<div class="landing">
    <div class="big-links">
        <a href="https://xandergoodwin.itch.io/rope-tool">Play the demo on Itch.io</a>
        <a href="https://store.steampowered.com/app/2958730/Project_Rope_Tool/">Wishlist on Steam</a>
        <a href="https://www.gofundme.com/f/rope-tool-funding">Help fund Project Rope Tool</a>
        <a href="/leaderboard">View leaderboards</a>
    </div>
    <div class="social-media-links">
        <a href="https://discord.gg/3jjJ2bCBGc">Discord</a>
        <a href="https://twitter.com/RopeTool">Twitter</a>
        <a href="https://www.youtube.com/@ropetooldev">Youtube</a>
        <a href="https://www.tiktok.com/@ropetooldev">TikTok</a>
    </div>
</div>