body {
    background-color:#050219;
    background-image:url('../img/background.png');
	background-attachment:fixed;
    background-size:cover;
    color:white;
}

.header {
    font-size:24px;
    font-weight:bold;
    position:fixed;
    top:0;
	left:0;
    height:80px;
    width:100%;
    padding:10px;
	background-image: linear-gradient(to right, black, rgba(255,0,0,0));
	font-family:'Courier New', Courier, monospace;
}
.header-link-container a {
    text-decoration: none;
	color:white;
}
.header-link-container a:hover {
	color: #fefd35;
	text-shadow: 0 0 0px #fff, 0 0 4px #fefd35; /* glowing text */
}

.header-link-container {
	float:left;
    margin-left:40px;
	text-align:center;
	padding-top:46px;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
	color:08041e;
    float:left;
	/*
	filter: drop-shadow(0px 0px 3px #08041e);
	filter: drop-shadow(0px 0px 5px #08041e); */
}

.body {
    margin-top:120px;
}

/*
#link-steam {

}
#link-itch {

}
#link-discord {

}
#link-tiktok {

}
*/
