body {
    background-color:purple;
    background-image:url('../img/background.png');
	background-attachment: fixed;
    color:white;
}

.header {
    font-size:26px;
    font-weight:bold;
    position:fixed;
    top:0;
    height:80px;
    width:100%;
    margin:10px;
}
.header a {
    text-decoration: none;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.body {
    margin-top:100px;
}


#link-steam {

}
#link-itch {

}
